/*Definiton of the color names */
:root {
    --white-color: #fff;
    --completely-black-color: #000;
    --dark-grey-color: #2D3436;
    --violet-color: #6C5CE7;
    --yellow-color: #FDCB6E;
}
body {
    background-color: var(--white-color);
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.header-line {
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}
.header-logo {
    background-color: var(--white-color);
    display: flex;
	align-items: center;
}

.header-logo-title {
    color:#2D3436;
    text-decoration: none;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -1px;
    align-items: flex-end;

}
.nav {
    display: flex;
	align-items: center;
	margin: 0 100px;
}
.nav-item-separated {
    color:#2D3436;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    /*margin-right: 40px;*/
    letter-spacing: 0.2px;
}
.nav-item {
    color: var(--violet-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    /*margin-right: 40px;*/
}
.nav-item-point {
    background-color: var(--yellow-color);
    border-radius: 50%;
    height: 5px;
	width: 5px;
	margin: 0 16px;
}

.header-btn {
    height: 64px;
    width: 170px;
}
.button-dark {
    background-color: var(--violet-color);
    color: #FFFFFF;
    text-decoration: none;
    /*padding: 8px 40px;*/
    border-radius: 999px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.25px;
    border: none;
}