/*Definiton of the color names */
:root {
    --white-color: #fff;
    --completely-black-color: #000;
    --dark-grey-color: #2D3436;
    
    --violet-color: #6C5CE7;
    --yellow-color: #FDCB6E;
    --red-color: #D63031;
    --light-green-color:#55EFC4; 
    --green-color: #00B894;
    --pink-color: #E84393;
    --blue-color: #0984E3;
}
body {
    background-color: var(--white-color);
    margin: 0;
    font-family: 'Inter', sans-serif;
}
/*-----Here are common styles of buttons ------------------------------*/
.button-dark {
    background-color: var(--violet-color);
    color: #FFFFFF;
    text-decoration: none;
    /*padding: 8px 40px;*/
    /*border-radius: 999px;*/
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.25px;
    border: none;
}
.button-light {
    background-color: var(--color-white);
    color: var(--violet-color);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.25px;
}
.button-rounded-shape {
    border-radius: 999px;
}
.button-standard-shape {
    border-radius: 20px;
}

.header-line {
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
    /*position: relative;*/
}
.header-logo {
    background-color: var(--white-color);
    display: flex;
	align-items: center;
}

.header-logo-title {
    color:#2D3436;
    text-decoration: none;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -1px;
    align-items: flex-end;

}
.nav {
    display: flex;
	align-items: center;
	margin: 0 100px;
}
.nav-item-separated {
    color:#2D3436;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    /*margin-right: 40px;*/
    letter-spacing: 0.2px;
}
.nav-item {
    color: var(--violet-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    /*margin-right: 40px;*/
}
.nav-item-point {
    background-color: var(--yellow-color);
    border-radius: 50%;
    height: 5px;
	width: 5px;
	margin: 0 16px;
}

.header-btn {
    height: 64px;
    width: 170px;
}

.background-figure-one{
    position: absolute;
	top: 0;
	right: 0;
    opacity: 0.8;
	/*z-index: -2;*/
}
.background-figure-dotted{
    position: absolute;
	top: 18px;
	right: 0;
    z-index: -2;
}
.header-intro {
    position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.header-intro-text {
    display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 64px;
}
.intro-title {
    position: relative;
    font-size: 96px;
    font-weight: 700;
    color: var(--completely-black-color);
}
.intro-subtitle {
    position: relative;
    font-size: 64px;
    font-weight: 700;
    color: var(--completely-black-color);
}
.intro-title span {
	position: relative;
	color:  var(--red-color);
	text-shadow: 0px 4px 0px var(--white-color);
}

.intro-title span::after {
	/*!!!! проверить параметры*/
    position: absolute;
    content: '';
    display: block;
    width: 110%;
	height: 51px;
	border-radius: 999px;
	left: -5%;
	bottom: 0;
	z-index: -1;
	background: var(--light-green-color);
}

.header-intro-grid-frame {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(7, auto);
    /*!!!поменять*/
	grid-gap: 30px;
	width: 70%;
}

.header-intro-grid-frame img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.intro-grid-text-one {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.intro-grid-pic-one {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}
.intro-grid-text-two {
	grid-column: 4 / 6;
	grid-row: 1 / 3;
}

.intro-grid-pic-two {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.intro-grid-pic-three {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.intro-grid-pic-four {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.intro-grid-pic-five {
    grid-column: 2 / 3;
    grid-row: 4 / 7;
}
.intro-grid-pic-six {
    grid-column: 3 / 5;
    grid-row: 4 / 8;
}
.intro-grid-pic-seven {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
}
.intro-grid-btn {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
}
/*--------------Styles for elements of the services section------------*/
.services {
    padding: 80px 130px;
}
.services-title {
    font-size: 32px;
    color: var(--dark-grey-color);
    font-weight: 700;
    margin: 0;
}
.services-subtitle {
    font-size: 24px;
    color: var(--dark-grey-color);
    font-weight: 400;
    margin-top: 15px;
    margin: 0;
}
.service-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
    margin-top: 40px;
}
.service-card {
	display: flex;
	flex-direction: column;
}
.service-picture-one {
	background: var(--pink-color);
    border-radius: 50%;
	width: 70px;
	height: 70px;
}
.service-picture-two {
	background: var(--blue-color);
    border-radius: 50%;
	width: 70px;
	height: 70px;
}
.service-picture-three {
	background: var(--violet-color);
    border-radius: 50%;
	width: 70px;
	height: 70px;
}
.service-picture-four {
	background: var(--green-color);
    border-radius: 50%;
	width: 70px;
	height: 70px;
}
.service-title {
	font-size: 24px;
    font-weight: 700;
	margin-top: 24px;
    color: var(--dark-grey-color);
}
.service-text {
	font-size: 18px;
    font-weight: 400;
	margin-top: 16px;
    color: var(--dark-grey-color);
	padding-bottom: 8px;
}
.service-btn {
    width: 146px;
	height: 48px;
    margin-top: auto;
    font-size: 18px;
}
/*--------------Styles for elements of the prices section -------------*/


/*--------------Styles for elements of the footer ---------------------*/
