body {
  background-color: rgb(161, 100, 223);
}
.minutes-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-right: 260px;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
.input-form {
  margin-right: 5px;
  margin-left: 5px;
}
.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}
.btn {
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 20px;
  height: 40px;
  width: 80px;
  background-color: rebeccapurple;
}
